body {
    background-image: url("https://wallpapercave.com/wp/8iAP1eI.jpg");
    font-family: Arial, Times;
    color: rgb(255, 255, 255);
}


h1 {
    text-align: center;
}

#description {
    text-align: center;
}

div {
    margin: auto;
    width: 70%;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.info {
    display: block;
}

fieldset {
    border: 0 none;
}

input[name="submit"] {
    display: block;
    
}