body {
    background-image: url("https://wallpapercave.com/wp/8iAP1eI.jpg");
    font-family: Arial, Times;
    color: rgb(255, 255, 255);
    font-size: 20px;
}


h1 {
    text-align: center;
}

#description {
    text-align: center;
    color: blue;
}

div {
    margin: auto;
    width: 70%;

}

label {
    display: block;
    margin: 0.5rem 0;
}

.info {
    display: block;
}

fieldset {
    border: 0 none;
}

input[name="submit"] {
    padding: 5px 15px;
    border: 0 none;
    color: blue;

}

.maybe, .no, .definitely {
    display: inline;
}